/*Custom properties*/
:root{
    --sb-color-1: #051e34;
    --sb-color-2: #0d253a;
    --top-color: #1b72e8;
    --box-color: #124ea3;
    --border: 1px solid black;
}

/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONTAINER */
.container{
    max-width: 100%;
}

/* BODY */
.wrapper{
    width: 100%;
    height: 100vh;
}

/* HEADER */
header{
    width: 100%;
    height: 10vh;
}

/* header img{
    width: 4rem;
    height: 4rem;
} */

/* UNORDERED LIST */
.flex-ul{
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}

.flex-ul a{
    color: var(--sb-color-1);
    text-decoration: none;
}

/* MAIN */
main{
    width: 100%;
    height: 90vh;
}

/* SIDEBAR */
.sidebar{
    background-color: var(--sb-color-2);
    height: 90vh;
    color: white;
}

.sidebar-top{
    background-color: var(--sb-color-1);
    /* width: 100%; */
}

.sidebar-top a,
.sidebar-bottom a{
    color: white;
    text-decoration: none;
}

/* MAIN CONTENT */
.main-content{
    height: 90vh;
    padding: 0;
}

.main-content header{
    background-color: var(--top-color);
    height: 30vh;
    color: white;
}

.main-content .rounded-pill{
    max-width: 8rem;
    line-height: 0.5rem;
    border-color: var(--box-color);
    background-color: var(--box-color);
}

.main-content button{
    border-color: white;
    color: white;
}

@media screen and (min-width: 768px){
    .main-content header{
        height: 14vh;
    }
}

@media screen and (min-width: 992px) {
    .main-content .rounded-pill{
        font-size: 11px;
    }
}

